
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/guest_master.cshtml";
}


<main class="main pages">

    <div class="page-content pt-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                    <section class="row align-items-center mb-50">
                        <div class="col-lg-6">
                            <img src="../Content/imgs/page/about-1.png" alt="" class="border-radius-15 mb-md-3 mb-lg-0 mb-sm-4" />
                        </div>
                        <div class="col-lg-6">
                            <div class="pl-25">
                                <h2 class="mb-30">About Armada</h2>

                                <p class="mb-25">Armada is a leading distributor of premium consumer brands in the UAE. Through our highly sophisticated logistics, temperature controlled warehouses and in-depth local knowledge we ensure products are available where and when consumers need them.</p>

                                <p class="mb-25">We operate by guaranteeing the availability of goods, quality, efficient logistics and dedicated customer services. We supply premium products via our network of sales channels and take pride in serving our customers and the brands we represent.</p>

                                <p class="mb-25">Our team is committed, passionate and insightful about business in the UAE, understanding the unique needs of the market and adding value by conducting business in this multicultural environment.</p>

                            </div>
                        </div>
                    </section>
                    <section class="text-center mb-50">
                        <h2 class="title  mb-40">Our Core Values</h2>

                        <div class="row">
                            <div class="col-lg-3 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 style="color: #d32027" class="mb-30">Be Natural</h3>
                            </div>
                            <div class="col-lg-3 pr-30 mb-md-5 mb-lg-0 mb-sm-5">
                                <h3 style="color: #d32027" class="mb-30">Be Honest</h3>
                            </div>
                            <div class="col-lg-3">
                                <h3 style="color: #d32027" class="mb-30">Be Tasteful</h3>
                            </div>
                            <div class="col-lg-3">
                                <h3 style="color: #d32027" class="mb-30">Be Passionate</h3>
                            </div>
                        </div>
                    </section>
                    <section class="row align-items-center mb-50">
                        <div class="row mb-50 align-items-center">
                            <div class="col-lg-7 pr-30">
                                <img src="../content/imgs/page/about-5.png" alt="" class="mb-md-3 mb-lg-0 mb-sm-4" />
                            </div>
                            <div class="col-lg-5">
                                @*<h4 class="mb-20 text-muted">Our Brands</h4>*@
                                <h2 class="heading-1 mb-40">Our passionate team is behind every success our company achieves.</h2>
                                <p class="mb-30">We come from over 10 nations, but are proud to be one Armada team. We benefit from effective cross-cultural communication, diverse perspectives, added creativity and a greater understanding of the local and expat community in the UAE.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card" style="padding-top:0px; padding-bottom:0px">
                                    <img src="assets/imgs/theme/icons/icon-1.svg" alt="" />
                                    <p  style="padding-left:35px">We share, we care, we dare every day</p>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card" style="padding-top:0px; padding-bottom:0px">
                                    <img src="assets/imgs/theme/icons/icon-2.svg" alt="" />
                                    <p  style="padding-left:35px">We put taste in everything we do</p>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-24">
                                <div class="featured-card" style="padding-top:0px; padding-bottom:0px; padding-right:0px">
                                    <img src="assets/imgs/theme/icons/icon-3.svg" alt="" />
                                    <p>We focus and follow up on our customers’ needs</p>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
